<ion-view view-title="Cadastro">
    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input">
                    <input type="text"
                           ng-model="contato.nome"
                           placeholder="Nome">
                </label>
                <label class="item item-input">
                    <input type="text"
                           ng-model="contato.telefone"
                           placeholder="Telefone">
                </label>
                <button 
                        ng-click="salvarContato(contato)"
                        class="button button-full button-positive">
                    Salvar
                </button>
                <button class="button button-full button-assertive"
                    ng-click="excluirContato(contato)">
                    Excluir
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
